<div class="row">
    <div class="col-md-6 py-4">
        <div class="jumbotron">
            <h1 class="display-4">Turnos en hospital</h1>
            <p class="lead">Algoritmo que ordena turnos.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" routerLink="/hospital" role="button">Ver</a>
        </div>
    </div>
    <div class="col-md-6 py-4">
        <div class="jumbotron">
            <h1 class="display-4">Array inverso</h1>
            <p class="lead">Algoritmo que invierte elementos de un arreglo.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" routerLink="/inverso" role="button">Ver</a>
        </div>
    </div>
</div>